[submodule "lib/xfm"]
	path = lib/xfm
	url = https://github.com/damiencorpataux/xfm-php
[submodule "lib/dompdf"]
	path = lib/dompdf
	url = https://github.com/shadowhand/dompdf.git
[submodule "public/assets/fancybox"]
	path = public/assets/fancybox
	url = https://github.com/fancyapps/fancyBox.git
